# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# next build output
.next/
out/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env.local
.env.*.local

# prisma
prisma/dev.db
prisma/dev.db-journal

# uploads
public/uploads/

# os/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# TypeScript incremental build info
*.tsbuildinfo
